.home_Container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4em;
}

.home_Container h1{
    font-size: 2.5em;
    margin-bottom: .5em;
}

.home_Container h1 span{
    color: yellow;
    padding: 0 .2em;
    background-color: #222;
}

.home_Container p{
    margin-bottom: 1.5em;
    color: #7b7b7b;
}

.home_Container img{
    width: 350px;
    margin: 2em 0;
}

@media(max-width: 768px){
    .home_Container{
        flex-direction: column;
        align-items: center;
    }
}