*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

html, body, #root{
  background-color: #efefef;
  height: 100%;
}

@media(max-width: 768px){
  html, body, #root{
    flex-direction: column;
    align-items: center;
  }
}